/*-------------- DRI Body --------------*/

html {
    margin-bottom: 0.5em;
    height: 100%;
    body {
        font: 120% Arial, Helvetica, clean, sans-serif;
        *font-size: small;
        *font: x-small;
        margin: 0;
    }
}
h1,
h2,
h3 {
    line-height: 150%;
}
a {
    
    text-decoration: none; 
    color: $dri_midgrey;
}
a:hover,
a:focus {
    
    text-decoration: none;
}
/*-------------- Mixins --------------*/

//mixin example for border radius
@mixin border_radius ($br: 2px) {
    -moz-border-radius: $br;
    border-radius: $br;
}

/*-------------- Blacklight Overrides -------*/

.nav-tabs > li.active > a {
    border-top: 3px solid $dri_green;
    background-color: $dri_extralightgrey;
    font-size: 14px;
    font-weight: bold;
}

.btn-nav {
    @extend .dri_button_green;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: none;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: none;
    @include border_radius (3px);
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dri_button {
    color: $dri_white;
    border: none;
    font-weight: normal;
}

.dri_button_green {
    @extend .dri_button;
    background-color: $dri_green;
    &:hover {
        background-color: darken($dri_green, 3%) !important;
    }
}

.search-btn {
    border: 1px solid #ccc;
    background-color: $dri_green;
    &:hover {
        background-color: darken($dri_green, 3%);
    }
}
