button.dri_open_button {
    color: #FFF;
    border: none;
    background-color: $dri_green;
    padding: 0;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 60%;
    height: 26px;
    display: block;
    @include border_radius;
    text-decoration: none; 
    &:hover {
        background-color: darken($dri_green, 6%);
    }
}

.dri_open_button_link {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.image-credit {
  margin: 3px;    
}
