/*-------------- DRI Body --------------*/

html {
    margin-bottom: 0.5em;
    height: 100%;
    body {
        font: 120% Arial, Helvetica, clean, sans-serif;
        *font-size: small;
        *font: x-small;
        margin: 0;
    }
}
h1,
h2,
h3 {
    line-height: 150%;
}
a {
    
    text-decoration: none; 
    color: $dri_midgrey;
}
a:hover,
a:focus {
    
    text-decoration: none;
}
/*-------------- Mixins --------------*/

//mixin example for border radius
@mixin border_radius ($br: 2px) {
    -moz-border-radius: $br;
    border-radius: $br;
}

/*-------------- Blacklight Overrides -------*/

.btn {
   background-color: $dri_green;
   color: $dri_white;
   &:hover {
       background-color: darken($dri_green, 3%) !important;
   }     
}

.btn-default {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    padding: 5px 10px 4px 10px;
    border: none;
    white-space: nowrap;
    margin: 0;
    font-size: 100%;
    line-height: none;
    @include border_radius (3px);
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search-btn {
   background-color: $dri_green !important;
   color: $dri_white !important;
}

.btn:hover {
    background-color: darken($dri_midgrey, 3%);
    color: #FFF;
}

.btn-info {
   border: none; 
}

.navbar-right > ul > li > a {
    
    color: $dri_midgrey;
            &:hover {
                text-decoration: underline !important;
                color: $dri_midgrey !important;
            }
            &.on {
                color: $dri_grey;
            }
}
