/*-------------- DRI Body --------------*/

html {
    margin-bottom: 0.5em;
    height: 100%;
    body {
        font: 120% Arial, Helvetica, clean, sans-serif;
        *font-size: small;
        *font: x-small;
        margin: 0;
    }
}
h1,
h2,
h3 {
    line-height: 150%;
}
a {
    
    text-decoration: none; 
    color: $dri_midgrey;
}
a:hover,
a:focus {
    
    text-decoration: none;
}
/*-------------- Mixins --------------*/

//mixin example for border radius
@mixin border_radius ($br: 2px) {
    -moz-border-radius: $br;
    border-radius: $br;
}

/*-------------- Blacklight Overrides -------*/

.dri-button {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    font-size: 100%;
    line-height: none;
    @include border_radius (3px);
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-link {
  @extend .dri-button;
  background-color: $dri_lightgrey;
  &:hover {
    background-color: darken($dri_lightgrey, 3%) !important;
  }
}

.navbar-right > ul > li > a {  
  color: $dri_midgrey;
    &:hover {
        text-decoration: underline !important;
        color: $dri_midgrey !important;
    }
    &.on {
        color: $dri_grey;
    }
}
