/*-------------- DRI Body --------------*/

html {
    margin-bottom: 0.5em;
    height: 100%;
    body {
        font: 120% Arial, Helvetica, clean, sans-serif;
        font-size: small;
        font: x-small;
        margin: 0;
    }
}
h1,
h2,
h3 {
    line-height: 150%;
}
a {
    
    text-decoration: none; 
    color: $dri_midgrey;
}
a:hover,
a:focus {
    
    text-decoration: none;
}
/*-------------- Mixins --------------*/

//mixin example for border radius
@mixin border_radius ($br: 2px) {
    -moz-border-radius: $br;
    border-radius: $br;
}

/*-------------- Blacklight Overrides -------*/

.btn-link {
  @extend .dri-button;
  color: $dri_white;
  background-color: $dri_lightgrey;
  &:hover {
    background-color: darken($dri_lightgrey, 3%) !important;
  }
}

.dri-button {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    font-size: 100%;
    line-height: none;
    @include border_radius (3px);
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search-btn {
   &:hover {
     background-color: $dri_extralightgrey !important;
  }
}

.navbar {
  background-color: $dri_white !important;
}

.navbar-right > ul > li > a {
    color: $dri_midgrey;
            &:hover {
                text-decoration: underline !important;
                color: $dri_midgrey !important;
            }
            &.on {
                color: $dri_grey;
            }
}

#user-util-collapse .nav-link {
    color: $dri_grey !important;
  }

.image-masthead .exhibit-navbar .navbar-nav {
  text-transform: capitalize !important;
}

.image-masthead .exhibit-navbar .navbar-nav .nav-link {
  color: $dri_midgrey !important;
}
.st-block-controls__button {
    color: $dri_white;
}

.pagination > .active > a {
  color: #777777 !important;
  border-color: #ddd !important;
}

.search-widgets {
  .btn {
    color: $dri_darkgrey;
    background-color: $dri_extralightgrey;
    &:hover {
      color: $dri_darkgrey !important;
      background-color: darken($dri_extralightgrey, 3%);
    }
  }
  .active {
    background-color: darken($dri_extralightgrey, 10%) !important;
  }
  .dropdown-toggle {
    color: $dri_darkgrey !important;
  }
}

.openseadragon-container {
  display: block;
  min-height: 300px;
}

.form-check-label {
  margin-bottom: 0.5rem !important;
}
