.os200-show-map-container {
        border: solid;
        border-color: $dri_lightgrey;
        margin-top: 34px;
        margin-bottom: 5px;
        margin-right: 2px;
        border-width: thin;
        height: 500px;
}

